.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* lewa i prawa strona rozdzielone */
  padding-left: 260px;
  padding-right: 20px;
  padding-top: 4px;
  background-color: var(--background);
  height: 60px;
}

/* Lewa sekcja - Searchbar */
.leftSection {
  display: flex;
  flex: 1; /* zajmij całą dostępną przestrzeń */
  min-width: 0; /* pozwól na zmniejszanie */
  max-width: 490px;
}

/* Prawa sekcja - Buttony */
.rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.buttonProfile {
  display: flex;
}

.button {
  display: flex;
}