.wrapper {
    background-color:aliceblue;
    width: 120px;
    height: 120px;
}



/* Modal.css */

.modalOverlay {
  position: fixed; /*wyjecie z normalnego flow dokumentu*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /*bardziej na wierzchu przez to jest wyzej niz wszytskie elementy i nie mozna kliknac */
}

.modalContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 24px;
    width: 400px;
    height: 200px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap:24px;
}



.modal-header {
  margin-bottom: 15px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.modal-footer button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.modal-footer button:hover {
  opacity: 0.8;
}