.wrapper {
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  padding: 18px;
  height: 40px;
}

.wrapper:hover {
   background-color: rgba(0, 0, 0, 0.1);
}



.wrapper.operations {
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  padding: 14px;
  height: 34px;
}

.wrapper.sortOptions {
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  padding: 14px;
  height: 38px;
}


.clicked {
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  padding: 18px;
  padding-left: 17px;
  height: 40px;
  background-color: rgb(214, 226, 251);
}


.clicked.sortOptions {
  display: flex;
  align-items:center;
  padding: 12px 14px;  
  background-color: rgba(0, 0, 0, 0.071); 
}


.clicked:hover{
  background-color: var(--border);
}

.checkmarkIcon {
  flex-shrink: 0;  /* ← NIE kurczy się */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;  /* ← minimalna szerokość */
}

.checkmark {
  display: flex;
  margin-left: auto;
  color: blue;
}


.checkmark.sortOptions {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.4); 
}

