.contentWrapper {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* to sprawi że nie “przykleja się” do krawędzi */
  border-radius: 16px;       
  padding: 14px;
  padding-top: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contentWrapper.active {
  background-color: aquamarine;
}



.label {
  font-size: 24px;
  font-weight: 300;
  color: black;
}